 <!-- FAQ NAV START --> 
 
 
  		<div class="header3">
	        <img src="images/BLASTPAY_logo.svg" class="scrollimg" />
        </div>
 
		<div class="faqnav animated fadeIn" id="faq"> 

			<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12"> 
<!-- Topic 1 -->
<div ng-init="accordion=0">
	<h3 class="accordion" ng-class="{active:accordion==1}">
		<a href ng-click="accordion = 1">Where can I get OneCard MasterCard?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==1">Signing up is easy.  Visit <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">www.onecard.cool</a> and click on the sign-up option.</p>
<!-- Topic 1 -->
	    
<!-- Topic 2 -->
	<h3 class="accordion" ng-class="{active:accordion==2}">
		<a href ng-click="accordion = 2">Do I need to activate my card before using it?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==2">Yes. Activate your card in three easy steps:<br/>
                            1) Log in to <a href="https://onecard.yantracard.com/CSSP-UI/login.xhtml" target="_new">www.onecard.cool</a><br/>
                            2) Click on "My Accounts"<br/>
                            3) Click on "Activate My Card"<br/> </p>
<!-- Topic 2 -->

<!-- Topic 3 -->
	<h3 class="accordion" ng-class="{active:accordion==3}">
		<a href ng-click="accordion = 3">how do i deposit money to my card?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==3">The best way to deposit money to your card is to set up direct deposit of your paycheck. Take your card's direct deposit information to your employer to get paid electronically each payday.You can also deposit money to your card from your existing bank account. <br/><br/>Log on and link your existing bank account by clicking on "Money Source"</p>
<!-- Topic 3 -->

<!-- Topic 4 -->
	<h3 class="accordion" ng-class="{active:accordion==4}">
		<a href ng-click="accordion = 4">How do I use my One Card MasterCard?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==4">You can use your OneCard MasterCard anywhere Debit MasterCard cards are accepted. Be sure to know your card balance before you shop. When you're ready to make your purchase, give the cashier your card or, if asked, swipe your card at the terminal. The purchase amount will automatically be deducted from the card balance.</p>
<!-- Topic 4 -->

<!-- Topic 5 -->
	<h3 class="accordion" ng-class="{active:accordion==5}">
		<a href ng-click="accordion = 5">Where can I use my OneCard MasterCard Card?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==5">You can use your OneCard MasterCard anywhere Debit MasterCard cards are accepted-that's millions of locations worldwide from retail stores to online, mail, and phone orders. You can also use your card to pay bills online.</p>
<!-- Topic 5 -->

<!-- Topic 6 -->
	<h3 class="accordion" ng-class="{active:accordion==6}">
		<a href ng-click="accordion = 6">How can I send money?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==6">OneCard empowers you to send money to anyone in the U.S. through the following options:<br />
 							<ng-md-icon icon="brightness_1" size="10"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="8" height="8"><circle cx="12" cy="12" r="10"></circle></svg></ng-md-icon>  Instantly transfer from OneCard to OneCard<br/>
                            <ng-md-icon icon="brightness_1" size="10"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="8" height="8"><circle cx="12" cy="12" r="10"></circle></svg></ng-md-icon>  Send to another debit card at another bank in few minutes*<br/>
                            <ng-md-icon icon="brightness_1" size="10"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="8" height="8"><circle cx="12" cy="12" r="10"></circle></svg></ng-md-icon>  Send to another bank account on the same day**<br/>
                            <ng-md-icon icon="brightness_1" size="10"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="8" height="8"><circle cx="12" cy="12" r="10"></circle></svg></ng-md-icon>  Send to another bank account in a few days<br/></p>
<!-- Topic 6 -->

<!-- Topic 7 -->
	<h3 class="accordion" ng-class="{active:accordion==7}">
		<a href ng-click="accordion = 7">How much does it cost to send money?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==7">It depends on the transfer option you choose:<br />
 							<ng-md-icon icon="brightness_1" size="10"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="8" height="8"><circle cx="12" cy="12" r="10"></circle></svg></ng-md-icon>  If you send to another OneCard user, your contact will have access to the money immediately<br/>
                            <ng-md-icon icon="brightness_1" size="10"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="8" height="8"><circle cx="12" cy="12" r="10"></circle></svg></ng-md-icon>  If you send to a debit card at another bank, your contact will have access to the money usually within a few minutes*<br/>
                            <ng-md-icon icon="brightness_1" size="10"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="8" height="8"><circle cx="12" cy="12" r="10"></circle></svg></ng-md-icon>  If you send to another bank account by Wire, your contact will have access to the money usually on the same day**<br/>
                            <ng-md-icon icon="brightness_1" size="10"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="8" height="8"><circle cx="12" cy="12" r="10"></circle></svg></ng-md-icon>  If you send money to another bank account by ACH, your contact will will have access to the money usually within a few business days**<br/></p>
<!-- Topic 7 -->

<!-- Topic 8 -->
	<h3 class="accordion" ng-class="{active:accordion==8}">
		<a href ng-click="accordion = 8">How long does it take for my contact to receive the money?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==8">It depends on the transfer option you choose:</p>
<!-- Topic 8 -->

<!-- Topic 9 -->
	<h3 class="accordion" ng-class="{active:accordion==9}">
		<a href ng-click="accordion = 9">My available card balance will not cover my purchase amount. Can I still use my OneCard?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==9">Yes, you can still use your OneCard MasterCard. Just tell the cashier in advance how much to deduct from your card and how much you will pay using an alternate payment method.<br/><br/>Note that this process, known as "split tender," may not be supported by all merchants.</p>
<!-- Topic 9 -->

<!-- Topic 10 -->
	<h3 class="accordion" ng-class="{active:accordion==10}">
		<a href ng-click="accordion = 10">What happens if I need to return an item I purchased using my OneCard MasterCard?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==10">When making a return, you may be asked to show the cashier the card used to make the purchase. The value of the returned merchandise will be credited back to your card.</p>
<!-- Topic 10 -->

<!-- Topic 11 -->
	<h3 class="accordion" ng-class="{active:accordion==11}">
		<a href ng-click="accordion = 11">I can't find my OneCard MasterCard card. what should I do?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==11">Contact us immediately to report your lost or stolen card and request a replacement card. Rest assured that registered OneCard MasterCard include Zero Liability protection. In the event your card is lost or stolen, CBW Bank will not hold you responsible for unauthorized purchases made on your card.</p>
<!-- Topic 11 -->

<!-- Topic 12 -->
	<h3 class="accordion" ng-class="{active:accordion==12}">
		<a href ng-click="accordion = 12">Questions not answered here?</a>
	</h3>
	<p class="accordion-content animated fadeIn" ng-show="accordion==12">We are here to support you 24/7/365!<br /><br />
                <b>Phone:</b> +1 203-633-2273<br />
                <a href="https://onecardservices.zendesk.com/hc/en-us/requests/new" target="_new">Click here</a> to submit a support ticket.</p>
<!-- Topic 12 -->

</div>
           
    		</div>
			</div>
		</div>       
 <!-- FAQ NAV END -->
<div ng-view></div>